 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Criada em 2019, a Paiolão de Minas é uma empresa mineira que atua na fabricação de cigarros de palha. Com produtos totalmente naturais, os ingredientes são cuidadosamente selecionados para agradar diversos públicos.</p>
                </div>
                <div class="col-lg-4">
                    <p>Contatamos com 3 linhas de cigarros de palha: Tradicional, Premium e Menta. Conheça nossos palheiros e veja a qualidade e perfeição da nossa produção.</p>
                </div>
            </div>
        </div>
    </section>
